name: Run Postman API tests and .NET tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Install Newman
        run: npm install -g newman

      - name: Restore dotnet project
        run: dotnet restore

      - name: Build dotnet project
        run: dotnet build --no-restore

      - name: Run xUnit tests in server.Tests
        run: dotnet test Server.Tests --no-build --verbosity normal

      - name: Run Playwright tests in client.Tests
        run: dotnet test Client.Tests --no-build --verbosity normal

      - name: Start API-server
        run: cd server && nohup dotnet run &

      - name: Wait for API to start
        run: sleep 5

      - name: Run API tests with Newman
        run: |
          newman run postman/TestCRMWheels.postman_collection.json \
          --reporters cli \
          --reporter-json-export newman-report.json
